$BACKGROUND_0: #181e25;
$BACKGROUND_1: #1a232c;
$BACKGROUND_2: #253744;
$BACKGROUND_3: #32424b;
$BACKGROUND_SURFACE: qlineargradient(0, 1, 0, 0, (0.1 $BACKGROUND_0, 0.8 $BACKGROUND_2));
$BACKGROUND_SURFACE_HORZ: qlineargradient(1, 0, 0, 0, (0.1 $BACKGROUND_0, 0.8 $BACKGROUND_2));

$BORDER_1: #405b6d;
$BORDER_2: #162531;

$FOREGROUND_1: #ddd;
$FOREGROUND_2: #ccc;
$FOREGROUND_3: #aaa;
$FOREGROUND_DISABLED: #888;

$SELECTION_1: #0267aa;
$SELECTION_2: #11578d;
$SELECTION_3: #164d68;

$SIZE_BORDER_RADIUS: 4px;
$PATH_RESOURCES: ":/qss_icons";

@import "styles";
