$BACKGROUND_LIGHT: #505f69;
$BACKGROUND_NORMAL: #32414b;
$BACKGROUND_DARK: #19232d;

$FOREGROUND_LIGHT: #f0f0f0;
$FOREGROUND_MEDIUM_LIGHT: #cccccc;
$FOREGROUND_NORMAL: #aaaaaa;
$FOREGROUND_DARK: #787878;

$SELECTION_LIGHT: #0078d7;
$SELECTION_NORMAL: #1464a0;
$SELECTION_DARK: #14506e;

$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$W_STATUS_BAR_BACKGROUND_COLOR: #14506e;
$PATH_RESOURCES: ":/qss_icons";

@import "styles";
