$BACKGROUND_1: #fcfcfc;
$BACKGROUND_2: #f0f0f0;
$BACKGROUND_3: #e9e9e9;
$BACKGROUND_4: #dcdcdc;
$BACKGROUND_SURFACE: linear-gradient(#fdfdfd, #efefef);

$BORDER_1: #bdbdbd;

$FOREGROUND_1: #000;
$FOREGROUND_2: #333;
$FOREGROUND_3: #555;

$SELECTION_1: #59b4ff;
$SELECTION_2: #3d9ae0;
$SELECTION_3: #2c7bc4;

$OPACITY_TOOLTIP: 230;
$SIZE_BORDER_RADIUS: 4px;
$W_STATUS_BAR_BACKGROUND_COLOR: #14506e;
$PATH_RESOURCES: ":/qss_icons";

@import "styles";
