$BACKGROUND_0: #fff;
$BACKGROUND_1: #fcfcfc;
$BACKGROUND_2: #f5f5f5;
$BACKGROUND_3: #e6e6e6;
$BACKGROUND_SURFACE: qlineargradient(0, 0, 0, 1, (0.1 $BACKGROUND_0, 0.8 $BACKGROUND_3));
$BACKGROUND_SURFACE_HORZ: qlineargradient(0, 0, 1, 0, (0.1 $BACKGROUND_0, 0.8 $BACKGROUND_3));

$BORDER_1: #bdbdbd;
$BORDER_2: #d3d3d3;

$FOREGROUND_1: #000;
$FOREGROUND_2: #333;
$FOREGROUND_3: #555;
$FOREGROUND_DISABLED: #777;

$SELECTION_1: #59b4ff;
$SELECTION_2: #3d9ae0;

$SIZE_BORDER_RADIUS: 1px;
$PATH_RESOURCES: ":/qss_icons";

@import "styles";
